<div style="width: 400px;">
    <h1>{{'Create' | translate}}:</h1>

    <form class="form-horizontal" name="noteForm">
        <div class="form-group">
            <label for="inputTitle" class="col-sm-3 control-label">{{'Title' | translate}}</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputTitle" placeholder="{{'Title' | translate}}" ng-model="note.title" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default" ng-click="saveNote(note, noteForm)">{{'Save' | translate}}</button>
            </div>
        </div>
    </form>
</div>